


##########################################################
# ignores for IDEs (vscode, cursor, etc.)
# VSCode specific
.vscode/
*.code-workspace

# Cursor AI (Cursor editor) specific
.cursor/
.cursor-config.json
.cursor-history/

# Common editor swap/backup files
*.swp
*.bak

# Object files
*.o

# Binaries/executables
*.exe
*.out
*.bin
src/app/infotainment_gui/app
etc/test_data_generator/generator
etc/test_data_generator/reader

# Eclipse metadata (if applicable)
.metadata/
etc/test_tools/set_traffic_state.c
resources/userdata/user_data.json
src/app/infotainment_gui/set_check_flag.cpp
src/app/infotainment_gui/test_violation_timeline.cpp
resources/userdata/user_data.json
etc/test_tools/set_check_state
etc/test_tools/set_check_state.c
resources/userdata/user_data.json
