


##########################################################
# ignores for IDEs (vscode, cursor, etc.)
# VSCode specific
.vscode/
*.code-workspace

# Cursor AI (Cursor editor) specific
.cursor/
.cursor-config.json
.cursor-history/

# Common editor swap/backup files
*.swp
*.bak

# Object files
*.o

# Binaries/executables
*.exe
*.out
*.bin
src/app/infotainment_gui/app
etc/test_data_generator/generator
etc/test_data_generator/reader

# Eclipse metadata (if applicable)
.metadata/
